// colors
$primary: #ed7692;
$main : #1a1d1f;
$black: #000;
$white: #fff;
// fonts
$mainFont: 'Sora', sans-serif;
$inter: 'Inter', sans-serif;
$poppins: 'Poppins', sans-serif;
$sourceCode: 'Source Code Pro', monospace;
$nunitoSans: 'Nunito Sans', sans-serif;



